.box {
     height: 100px;
     width: 100px;
     position: absolute;
     top: 0;
     left: 0;
     border: 1px solid;
     background: rgb(27, 4, 230); 
}

.box.active{
     border: 1px solid rgb(217, 255, 0);
}